[submodule "fastest-plane-route"]
	path = fastest-plane-route
	url = https://github.com/zackharley/fastest-plane-route
[submodule "seating-arrangement"]
	path = seating-arrangement
	url = https://github.com/zackharley/seating-arrangement
